:root {
    /* --main-color: var(--main-color); */
    --main-color: #f67694;
    --header-footer-text: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    display: flex;
    justify-content: flex-end;
    /* align-items: center; */
    min-height: 100vh;
    overflow-x: hidden;
    flex-direction: column;
}

div {
    display: block;
}

img {
    max-width: 100%;
}

/* nav-bar */
.nav-bar {
    width: 100%;
    height: 50px;
    /* background: var(--main-color); */
    /* background: var(--main-color); */
    background-image: url(../images/newyear/nav-bar.png);
    display: flex;
    justify-content: space-around;
}

.nav-list {
    padding-left: 0;
    display: block;
    font-size: 18px;
}

.nav-item {
    color: #fff;
    list-style: none;
    height: 50px;
    display: inline-block;
    font-weight: 600;
}

.active-nav {
    background-color: var(--main-color);
    color: var(--header-footer-text) !important;
}

.first-half {
    background-color: #f7f7f9;
}
.first-half a {
    color: #fff;
    text-decoration: none;
    /* display: block; */
}

a {
    text-decoration: none;
    outline: none;
}

ul {
    display: block;
}

.nav-bar .nav-list {
    line-height: 50px;
}

.nav-bar .nav-list .link {
    display: inline-block;
    height: 50px;
    padding: 0 5px;
    text-align: center;
    font-size: 18px;
}

.header {
    position: relative;
    height: 90px;
    /* z-index: 99; */
    background: #f7f7f9;
    padding: 15px 0;
}

form {
    display: block;
}

.hide {
    display: none !important;
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}

h1 {
    font-weight: 400;
    color: #000000;
    font-size: 36px;
    line-height: 36px;
}

.first-half img {
    vertical-align: middle;
    border: 0;
    float: left;
}

button {
    display: inline-block;
    font-size: inherit;
    margin: 0;
}

.header .img-responsive {
    display: block;
    max-width: 100%;
}

.header .row {
    margin-right: -15px;
    margin-left: -15px;
}

.header .container {
    position: relative;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.header .col-hd-lg {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.header .col-sl {
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.header .row::before,
.header .row::after {
    content: '\0020';
    display: block;
    height: 0;
    visibility: hidden;
}

.header .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.header .header-logo {
    float: left;
}

.header .header-logo h1 {
    margin-bottom: 0;
}

.header .search-text {
    width: 400px;
    height: 40px;
    padding: 0 10px;
    font-size: 14px;
    line-height: 48px;
    border-radius: 30px 0 0 30px;
    outline: 0;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    border: 1px solid var(--main-color);
}

.header .search-btn {
    right: 15px;
    top: 0;
    z-index: 2;
    width: 56px;
    height: 40px;
    line-height: 40px;
    border: 1px solid var(--main-color);
    border-radius: 0px 30px 30px 0;
    font-size: 24px;
    background: var(--main-color);
    color: #fff;
    outline: 0;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    font-size: 20px;
}

.header .search-btn i {
    vertical-align: middle;
    display: block;
    transform: translateY(5px);
}

.header .search-btn .icon_list svg * {
    stroke: #fff !important;
}
.header .search-btn:hover {
    background: var(--main-color);
    color: #fff;
}

.search-form {
    display: flex;
}

.header .search-btn .icon_list svg {
    width: 30px;
    height: 30px;
}

.search-btn svg:hover {
    background: var(--main-color);
    color: #fff;
    transform: scale(1.1);
}
input[type='search'] {
    box-sizing: border-box;
}

.shopping_cart {
    position: relative;
    padding: 0 15px;
}

.shopping_cart > a:first-child {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-align: unset;
    position: relative;
    line-height: 40px;
    text-align: center;
    font-size: 12px;
    color: #333;
}

.shopping_cart .cart-icon {
    position: relative;
    margin-right: 20px;
}

.shopping_cart p {
    text-align: left;
    margin-bottom: 0;
    font-size: 14px;
    color: #171516;
}

.first-half p {
    margin: 0 0 20px 0;
    line-height: 21px;
}

.shopping_cart > a:first-child i {
    font-size: 30px;
    color: var(--main-color);
}

.shopping_cart .cart-icon .icon_list svg {
    width: 40px;
    height: 40px;
}

.icon_list svg {
    width: 20px;
    height: 20px;
}

svg:not(:root) {
    overflow: hidden;
}

.shopping_cart .cart-icon .cart_quantity {
    width: 18px;
    height: 18px;
    line-height: 15px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid var(--main-color);
    background: #fff;
    font-size: 14px;
    color: var(--main-color);
    position: absolute;
    top: -5px;
    right: -16px;
}

.shopping_cart p {
    text-align: left;
    margin-bottom: 0;
    font-size: 14px;
    color: #171516;
}

.shopping_cart p span:not(.ajax_cart_quantity) {
    display: block;
}

.shopping_cart .cart-icon .icon_list svg path {
    fill: var(--main-color);
}

.shopping_cart .top-cart {
    font-size: 20px;
    font-weight: 700;
}

.main {
    background: #ffffff;
    border-bottom: 1px solid #e5e5e5;
}

.main .main-list {
    margin-bottom: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.main .main-list > li {
    display: inline-block;
}

.main .main-list > li > a {
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    padding: 14px 15px;
    display: block;
    color: black;
}

.main .main-list > li > a:hover,
.main .main-list > li > a.current {
    color: var(--main-color);
}

.main .main-list > li.dropdown {
    position: relative;
}

.main .main-list > li.dropdown:hover > ul {
    display: block;
}

.main .main-list > li.dropdown > ul {
    margin: 0;
}

.main .main-list > li.dropdown > ul ul {
    left: 100% !important;
}

/* LINK AND BUTTON */

/* SLIDER */

.home-index-hero {
    background: #f7f7f9;
}

.home-hero-container {
    position: relative;
    z-index: 10;
}

.home-hero {
    position: relative;
    margin-bottom: 15px;
}

.home-hero-slider {
    position: relative;
    overflow: hidden;
}

/* .flexslider {
    margin: 0 0 60px;
    background: #fff;
    border: 4px solid #fff;
    position: relative;
    zoom: 1;
}

.flexslider-container .flexslider {
    width: 100%;
    margin-left: 20px;
    border: 0;
    margin: 0;
} */

.flexslider .slides {
    zoom: 1;
}

.slider-default .flex-control-paging {
    position: absolute;
    left: 0;
    bottom: 20px;
    width: 100%;
    z-index: 9;
}

.slider-default .flex-control-paging {
    display: block;
    left: auto;
    right: 30px;
    text-align: center;
}

.flex-control-nav li {
    margin: 0 6px;
    display: inline-block;
    zoom: 1;
    *display: inline;
}

.slider-default .flex-control-paging li a {
    display: block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    border: 2px solid #fff;
    border-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    text-align: left;
    text-indent: -9999px;
    overflow: hidden;
    _zoom: 1;
    background: #f5f5f5;
    background: rgba(0, 0, 0, 0.4);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#66000000", endColorstr="#66000000")\9;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

.flex-control-paging li a {
    width: 11px;
    height: 11px;
    display: block;
    background: #666;
    background: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    text-indent: -9999px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -o-border-radius: 20px;
    border-radius: 20px;
    box-shadow: inset 0 0 3px rgb(0 0 0 / 30%);
}

.slider-default .flex-direction-nav li a {
    position: absolute;
    top: 50%;
    z-index: 9;
    width: 41px;
    height: 69px;
    margin-top: -35px;
    text-indent: -9999px;
    overflow: hidden;
    outline: 0;
    -webkit-transition: inherit;
    border-radius: initial;
}

/* .flexslider .slides img {
    width: 100%;
    text-align: center;
    display: block;
} */

/* .flexslider {
    margin: 0;
    padding: 0;
} */

.flexslider .slides > li {
    display: none;
    -webkit-backface-visibility: hidden;
}
*/

/* Hide the slides before the JS is loaded. Avoids image jumping */
/* .flexslider .slides img {
    text-align: center;
    display: block;
} */

.flex-pauseplay span {
    text-transform: capitalize;
}

/* Clearfix for the .slides element */
.slides:after {
    content: '.';
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

html[xmlns] .slides {
    display: block;
}

* html .slides {
    height: 1%;
}

.slider-default .flex-control-paging {
    position: absolute;
    left: 0;
    bottom: 20px;
    width: 100%;
    z-index: 9;
}

.flex-control-nav {
    width: 100%;
    position: absolute;
    bottom: -40px;
    text-align: center;
    padding: 0;
    margin: 0;
    list-style: none;
}

ol {
    display: block;
    list-style-type: decimal;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus {
    outline: none;
}

/* .flexslider {
    margin: 0;
    padding: 0;
    position: relative;
} */

/* .flexslider .slides>li {
    display: none;
    -webkit-backface-visibility: hidden;
} */

/* Hide the slides before the JS is loaded. Avoids image jumping */
/* .flexslider .slides img {
    text-align: center;
    display: block;
} */

.flex-pauseplay span {
    text-transform: capitalize;
}

/* Clearfix for the .slides element */
.slides:after {
    content: '.';
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

html[xmlns] .slides {
    display: block;
}
* html .slides {
    height: 1%;
}

.home-index-hero {
    background: #f7f7f9;
}

.home-hero-container {
    position: relative;
    z-index: 10;
}

.home-hero {
    position: relative;
    margin-bottom: 15px;
}

.home-hero-slider {
    position: relative;
    overflow: hidden;
}

.flexslider-container .flexslider {
    border: 0;
    margin: 0;
}

.slider-default .flex-direction-nav li a {
    position: absolute;
    top: 50%;
    z-index: 9;
    width: 41px;
    height: 69px;
    margin-top: -35px;
    text-indent: -9999px;
    overflow: hidden;
    outline: 0;
    -webkit-transition: inherit;
    border-radius: initial;
}

.slider-default .flex-direction-nav li a.flex-prev {
    background: url('//theme.hstatic.net/200000287623/1000800165/14/icon-slides.png?v=203') no-repeat -84px 50%;
}

.slider-default .flex-direction-nav li a.flex-prev:hover {
    background-position: 0 50%;
}

.slider-default .flex-direction-nav li a.flex-next {
    right: 0;
    background: url('//theme.hstatic.net/200000287623/1000800165/14/icon-slides.png?v=203') no-repeat -125px 50%;
}

.slider-default .flex-direction-nav li a.flex-next:hover {
    background-position: -42px 50%;
}

.slider-default .flex-control-paging {
    display: block;
    left: auto;
    right: 30px;
    text-align: center;
}

.slider-default .flex-control-paging li a {
    display: block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    border: 2px solid #fff;
    border-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    text-align: left;
    text-indent: -9999px;
    overflow: hidden;
    _zoom: 1;
    background: #f5f5f5;
    background: rgba(0, 0, 0, 0.4);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#66000000", endColorstr="#66000000")\9;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

.slider-default .flex-control-paging li a.flex-active {
    background: #fff;
    background: rgba(255, 255, 255, 0.4);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#66ffffff", endColorstr="#66ffffff")\9;
    border-color: #757575;
    border-color: rgba(0, 0, 0, 0.4);
}

.slider-default .flex-control-paging {
    position: absolute;
    left: 0;
    bottom: 20px;
    width: 100%;
    z-index: 9;
}

.flex-direction-nav a {
    width: 30px;
    height: 30px;
    display: block;
    background: url(bg_direction_nav.png) no-repeat 0 0;
    position: absolute;
    top: calc(50% - 15px);
    cursor: pointer;
    text-indent: -9999px;
    -webkit-transition: all 0.3s ease;
}

.flex-direction-nav .flex-next {
    background-position: 100% -8px;
    right: 10px;
}

.flex-direction-nav .flex-prev {
    left: 10px;
    background-position: 0% -8px;
}

.flexslider:hover .flex-next {
    opacity: 0.8;
    z-index: 2;
}

.flexslider:hover .flex-prev {
    opacity: 0.8;
    z-index: 2;
}

.flexslider:hover .flex-next:hover,
.flexslider:hover .flex-prev:hover {
    opacity: 1;
}

.flex-direction-nav .disabled {
    opacity: 0.3 !important;
    filter: alpha(opacity=30);
    cursor: default;
}

/* FLEX CONTROL NAV */

.flex-control-nav li {
    margin: 0 6px;
    display: inline-block;
    zoom: 1;
    *display: inline;
}

.flex-control-paging li a {
    width: 11px;
    height: 11px;
    display: block;
    background: #666;
    background: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    text-indent: -9999px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -o-border-radius: 20px;
    border-radius: 20px;
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
}

.flex-control-paging li a:hover {
    background: #333;
    background: rgba(0, 0, 0, 0.7);
}

.flex-control-paging li a.flex-active {
    background: #000;
    background: rgba(0, 0, 0, 0.9);
    cursor: default;
}

.flex-control-thumbs {
    margin: 5px 0 0;
    position: static;
    overflow: hidden;
}

.flex-control-thumbs li {
    width: 25%;
    float: left;
    margin: 0;
}

.flex-control-thumbs img {
    width: 100%;
    display: block;
    opacity: 0.7;
    cursor: pointer;
}

.flex-control-thumbs img:hover {
    opacity: 1;
}

.flex-control-thumbs .active {
    opacity: 1;
    cursor: default;
}

/* BOOKS */

.home-hero-menu {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 9;
    width: 235px;
    background: #333;
    background: rgba(0, 0, 0, 0.6);
    padding: 14px 0;
}

#home-new-tab {
    padding: 30px 0 50px;
}

#home-new-tab .container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

#home-new-tab .container::before {
    display: table;
    content: ' ';
}

#home-new-tab .row:after,
.clearfix:before,
.clearfix:after {
    content: '\0020';
    display: block;
    height: 0;
    visibility: hidden;
}

#home-new-tab .hnt-tab {
    margin-bottom: 30px;
}

.text-center {
    text-align: center;
}

#home-new-tab .hnt-tab li {
    display: inline-block;
    margin: 0px 26px 8px;
}

#home-new-tab .hnt-tab li:hover a,
#home-new-tab .hnt-tab li.active a {
    color: var(--main-color);
    border-bottom-color: var(--main-color);
}

#home-new-tab .hnt-tab li a {
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    color: #333;
    padding-bottom: 10px;
    border-bottom: 2px solid transparent;
}

.tab-content > .tab-pane {
    display: none;
    visibility: hidden;
}

.tab-content > .active {
    display: block;
    visibility: visible;
}

.hnt-wrap {
    display: flex;
    flex-wrap: wrap;
}

.col-item-book {
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.btn_more {
    border-radius: 4px;
    background: var(--main-color);
    padding: 6px 20px;
    color: #fff;
    font-size: 13px;
    text-transform: uppercase;
}

.col-item-book {
    width: 20%;
}

.product-block {
    margin-bottom: 20px;
}

.product-block .actions {
    position: absolute;
    right: 5px;
    bottom: 20px;
    z-index: 999;
}

.product-block .actions > a {
    background-color: var(--main-color);
    border-radius: 50px;
    color: #262626;
    display: block;
    font-size: 18px;
    height: 40px;
    line-height: 45px;
    width: 40px;
    left: 30px;
    margin-bottom: 10px;
    display: none;
    position: relative;
    text-align: center;
}

#home-new-tab .tab-pane .product-block {
    animation: zoom_pro 0.5s;
}

.product-block .actions > a.btn-quickview {
    animation-delay: 150ms;
}

.product-block .actions > a.btn-buynow {
    animation-delay: 150ms;
}

.product-block .actions > a.btn-add-to-cart {
    animation-delay: 200ms;
}

.product-sale {
    position: absolute;
    right: -20px;
    top: -18px;
    z-index: 20;
}

.product-sale span.sale-lb {
    font-size: 14px;
    color: #fff;
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background: url(//theme.hstatic.net/200000287623/1000800165/14/discount.png?v=203) no-repeat center;
    background-size: contain;
}

.product-block .product-img {
    text-align: center;
    position: relative;
}

.product-block .product-img .img {
    display: block;
    position: relative;
    overflow: hidden;
}

.product-block .product-detail {
    padding: 5px 10px;
}

h3 {
    font-weight: 400;
    color: #000000;
    font-size: 24px;
    line-height: 24px;
}

.product-block .product-detail h3.pro-name a {
    color: #212121;
    font-size: 16px;
    /* white-space: pre;
    overflow: hidden; */
    text-overflow: ellipsis;
    width: 100%;
    float: left;
    text-align: center;
    font-weight: 300;
    white-space: initial;
    overflow: hidden;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    display: -webkit-box;
}

.content_price {
    text-align: center;
}

.pro-price {
    font-size: 16px;
    color: var(--main-color);
    display: inline-block;
    margin-right: 4px;
    font-weight: 400;
    margin-bottom: 0;
}

p.pro-price-del {
    display: inline-block;
    color: #b0b0b0;
    font-weight: 300;
    margin-bottom: 0;
}

/* .product-block .product-img a img {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
} */

.actions i {
    font-size: 15px;
    line-height: 24px;
    color: #424242;
}

.icon_list svg {
    width: 20px;
    height: 20px;
}

.icon_list svg path {
    fill: #fff;
}

/* HOME POLICY */

.home-policy-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.home-policy-list .item {
    margin-bottom: 40px;
    border-radius: 4px;
    border: 1px solid var(--main-color);
    padding: 15px 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-policy-list .item .icon {
    margin-right: 10px;
    width: 60px;
}

.home-policy-list .item .info {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--main-color);
    width: calc(100% - 70px);
    text-align: center;
}

/* HOME NEW BANNER */

#home-new-banner {
    height: 589px;
    background: url(https://theme.hstatic.net/200000287623/1000800165/14/home_new_banner_bg.jpg?v=203) no-repeat center;
    background-size: cover;
    padding: 80px 0px;
}

#home-new-banner .container {
    padding: 20px 0px 100px 0px;
}

.image-slider {
    padding-bottom: 20px;
}

.image-wrapper {
    width: 75%;
    height: 550px;
    margin: 0px auto;
    overflow: hidden;
    padding: 10px 0px 10px 0px;
}

.image-new {
    margin: 0px 15px;
    display: inline-block;
    cursor: pointer;
    transition: all 0.3s;
}

.image-new:hover {
    transform: scale(1.05);
}

/* POST-SLIDER */

.page-wrapper {
    padding: 20px 0px 40px 0px;
}

.post-slider {
    position: relative;
    padding-bottom: 20px;
    /* border: 1px solid red; */
}

.post-slider .slider-title {
    text-align: center;
    margin: 40px 0px;
}

.post-slider .next {
    position: absolute;
    top: 50%;
    right: 70px;
    font-size: 2em;
    color: #000;
    cursor: pointer;
}

.post-slider .prev {
    position: absolute;
    top: 50%;
    left: 70px;
    font-size: 2em;
    color: #000;
    cursor: pointer;
}

.post-slider .post-wrapper {
    width: 75%;
    height: 550px;
    margin: 0px auto;
    overflow: hidden;
    padding: 10px 0px 10px 0px;
    /* border: 1px dashed red; */
}

.post-slider .post-wrapper .post {
    width: 300px;
    height: 500px;
    margin: 0px 10px;
    display: inline-block;
    background-color: #fff;
    border: #a1a1a1;
    border-bottom: 1px solid #e5e5e5;
    float: left;
    -webkit-transition: margin 0.3s ease-out;
    -moz-transition: margin 0.3s ease-out;
    -o-transition: margin 0.3s ease-out;
}

.post-slider .post-wrapper .post:hover {
    box-shadow: 1rem 1rem 1rem -1rem #a0a0a033;
    margin-top: -5px;
}

.post-slider .post-wrapper .post .post-info {
    height: 260px;
    padding: 15px 8px 30px 8px;
    /* border: 1px solid green; */
}

.post-slider .post-wrapper .post h4 {
    text-align: center;
}

.post-slider .post-wrapper .post .post-info a {
    margin-bottom: 5px;
    text-align: center;
    color: #212121;
    line-height: 30px;
}

.post-slider .post-wrapper .post .post-info p {
    margin-top: 15px;
    line-height: 1.8;
    color: #666;
    font-size: 15px;
    text-align: center;
}

.post-slider .post-wrapper .post .post-info a:hover {
    color: var(--main-color);
}

.post-slider .post-wrapper .post .slider-image {
    width: 100%;
    /* margin-bottom: 15px; */
    height: auto;
    cursor: pointer;
}

/* FOOTER */

footer {
    position: relative;
    width: 100%;
    height: auto;
    padding: 30px 100px 20px 100px;
    background: #313131;
    color: #fff;
}

footer .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 0 15px;
}

.contact-footer {
    padding: 0 15px;
}

.contact-footer .marker-first {
    padding-bottom: 25px;
}

.contact-footer i {
    font-size: 24px;
    margin-right: 10px;
    width: 44px;
    height: 44px;
    line-height: 40px;
    text-align: center;
    border: 1px solid #fff;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    color: #fff;
}

footer h4 {
    text-transform: uppercase;
}

.footer-logo {
    margin-bottom: 30px;
}

.support {
    display: flex;
    justify-content: space-between;
    margin: 0 15px 15px 15px;
}

.support li {
    font-size: 15px;
    list-style: none;
    cursor: pointer;
    margin-top: 8px;
}

.support li a {
    color: #fff;
}

.support li a:hover {
    color: var(--main-color);
}

.support h4 {
    margin-bottom: 20px;
}

.email {
    margin-bottom: 10px;
    padding: 0 15px;
}

.email h4 {
    margin-bottom: 10px;
}

.email p {
    font-size: 13px;
    max-width: 400px;
}

.input-group {
    display: flex;
}

.input-group-field {
    margin-top: 10px;
    border-style: none;
    border-radius: 30px 0px 0px 30px;
    height: 34px;
    line-height: 34px;
    padding: 0px 14px;
    font-weight: 400;
    font-size: 14px;
}

.email .button-btn1 {
    text-transform: uppercase;
    /* position: absolute; */
    border-style: none;
    border-radius: 0px 30px 30px 0px;
    margin-top: 10px;
    background: var(--main-color);
    color: #fff;
    height: 34px;
    line-height: 34px;
    padding: 0px 14px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
}

.email .button-btn1:hover {
    color: #333;
}

.connect-footer {
    padding: 0 15px;
}

.fanpage {
    margin-bottom: 20px;
}

.icon-footer {
    margin-top: 10px;
    display: flex;
}

.icon-footer a {
    width: 40px;
    height: 40px;
    font-size: 30px;
    background: #fff;
    color: #222;
    text-decoration: none;
    border-radius: 4px;
    margin-right: 20px;
    text-align: center;
    transition: all 0.1s;
}

.icon-footer a:hover {
    background: var(--main-color);
    color: #fff;
    transform: scale(1.2);
}

/* =============================== */
/* phần sản phẩm */
.main-content-wrapper {
    background: #ffffff;
    padding: 30px 0;
}
/* cho các thẻ li lên cùng 1 hàng */
.breadcrumb > li {
    display: inline-block;
}
.breadcrumb li a,
.breadcrumb li span {
    font-weight: 100;
    text-decoration: none;
    outline: none;
    opacity: 0.8;
    color: #131313;
    background-color: transparent;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 21px;
    font-size: 14px;
}

/* chỉnh độ mờ của chữ Tất cả sản phẩm */
.breadcrumb li span {
    color: #131313;
    opacity: 0.5;
}
.breadcrumb {
    padding: 8px 15px;
    list-style: none;
    background-color: transparent;
    border-radius: 4px;
}
/* thêm dấu gạch chéo */
.breadcrumb > li + li:before {
    padding: 0 5px;
    color: #ccc;
    content: '/\00a0';
}

.col-md-12 {
    width: 100%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.breadcrumbs {
    background: #ffffff;
    padding: 10px 0px;
}
ol {
    display: block;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}
.main-content-wrapper .collection .breadcrumbs .containter1 .row {
    height: 37px;
    margin-right: -15px;
    margin-left: -15px;
}

/* phần khung dưới */
.containter1 {
    overflow: hidden;
    padding: 0 15px;
    margin: 0 150px;
}
.row1 {
    overflow: hidden;
    margin-right: -15px;
    margin-left: -15px;
    padding-top: 20px;
}
.col-md-3 {
    width: 25%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

div#list-group-l {
    background: #fff;
    padding: 0 10px;
    padding-bottom: 30px;
    border-radius: 4px;
    width: 250px;
}
.list-group {
    margin-bottom: 20px;
}

.news-menu .nav > li > a {
    position: relative;
    display: block;
    padding: 10px 15px;
    color: #555555;
    font-weight: 300;
    text-decoration: none;
    outline: none;
}
#menu-blog > li {
    border-top: 1px solid #e0e0e0;
}

.nav > li {
    position: relative;
    display: block;
}
.nav {
    list-style: none;
}
/* chỉnh cho phần chữ danh mục */
.news-menu .list-group-item.active {
    z-index: 2;
    color: #000000;
    background-color: #ffffff;
    border: 0;
}
.news-menu .list-group-item {
    font-size: 20px;
    text-transform: uppercase;
    padding: 10px;
    font-weight: 400;
    border-bottom: 2px solid #e0e0e0 !important;
}
.news-menu .nav > li span {
    font-weight: 100;
    font-size: 14px;
    color: #000;
    opacity: 0.6;
}
.col-md-9 {
    width: 75%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.col-md-6 {
    width: 50%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.col-md-6 h1 {
    float: left;
    font-size: 22px;
    color: #000000;
    text-transform: uppercase;
    font-weight: 550;
    line-height: 36px;
}
.collection .browse-tags {
    float: right;
    padding-bottom: 10px;
    padding-left: 15px;
    font-weight: 300;
}
#sapxeptheo {
    color: #555555;
    font-size: 14px;
}

#list-group-l #menu-blog > li:hover span {
    color: var(--main-color);
}

.breadcrumb li.change-color:hover a {
    color: var(--main-color);
}
/* chỉnh ô chọn lựa */
.browse-tags .custom-dropdown {
    border: none !important;
    width: 180px;
    margin-top: 5px;
    margin-bottom: 10px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    max-width: 100%;
    overflow: hidden;
    margin-left: 2px;
    border-radius: 5px;
}

.collection .browse-tags .custom-dropdown--white::before {
    border-radius: 0px 30px 30px 0px !important;
    background: var(--main-color);
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    content: '';
    position: absolute;
    pointer-events: none;
    width: 2em;
    right: 0;
    top: 0;
    bottom: 0;
}
.collection .browse-tags .custom-dropdown__select {
    border: 1px solid var(--main-color);
    color: rgba(0, 0, 0, 0.8);
    font-weight: 100;
    font-size: 14px;
    padding: 4px 35px 4px 10px;
    border-radius: 30px;
    appearance: none;
    outline: none;
    background-color: #fff;
    width: 100%;
    line-height: inherit;
}

.collection .browse-tags .custom-dropdown--white::after {
    position: absolute;
    content: '\25BC';
    height: 1em;
    line-height: 1;
    margin-top: -1em;
    font-size: 18px;
    right: 10px;
    top: 24px;
    color: #fff;
    pointer-events: none;
}
/* css cho phần product truyện  */
.content-product-list {
    margin-top: 20px;
}

.col-md-4 {
    position: relative;
    min-height: 2px;
    width: 25%;
    float: left;
    padding-right: 15px;
    padding-left: 15px;
}

.content-product-list .product-block {
    float: left;
    width: 100%;
    border: none;
    margin-bottom: 14px;
    background: #fff;
    border-radius: 0px;
    transition: all 0.2s linear;
}
.product-block .product-img {
    text-align: center;
    position: relative;
}
.product-block .product-img .product-sale {
    position: absolute;
    right: -14px;
    top: -18px;
    z-index: 1000;
}
.product-sale span.sale-lb {
    font-size: 14px;
    color: #fff;
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background: url(//theme.hstatic.net/200000287623/1000800165/14/discount.png?v=204) no-repeat center;
    background-size: contain;
}
.img > a {
    text-decoration: none;
    outline: none;
    color: #131313;
}
.product-block .product-img a img {
    /* position: absolute; */
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 340px;
    max-width: 100%;
}

/* phần chân chuyển trang */
.pw-default {
    height: 50px;
    padding: 0 15px;
}

.col-md-8 {
    width: 66.66666667%;
    float: left;
    height: 50px;
    padding: 0 15px;
}

span.page-node.current {
    background: var(--main-color);
    color: #fff;
    border: 1px solid #e9e9e9;
    display: inline-block;
    height: 30px;
    line-height: 28px;
    padding: 0 11px;
    font-size: 15px;
    text-align: center;
    font-weight: 100;
}

a.page-node {
    border: 1px solid #e9e9e9;
    display: inline-block;
    height: 30px;
    line-height: 28px;
    padding: 0 11px;
    color: #909090;
    font-size: 15px;
    text-align: center;
    margin: 10px 0px;
    background-color: #fff;
    font-weight: 100;
}
.col-md-2 {
    width: 116.25px;
    float: left;
    height: 50px;
}

a.next {
    border: 1px solid #e9e9e9;
    display: inline-block;
    height: 30px;
    line-height: 28px;

    color: #909090;
    font-size: 15px;
    text-align: center;
    margin: 10px 0px;
    background-color: #fff;
    font-weight: 100;
}
.pull-right {
    float: right !important;
}

a.next span i {
    margin-left: 4px;
}

a.next span {
    padding: 0 13px;
}

.fa {
    font-family: 'FontAwesome' !important;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

.fa-angle-right:before {
    content: '\003e' !important;
}

/* Contact */
#location {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-text-size-adjust: none;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif !important;
    margin: 0 0 13px 0;
    font-weight: 400;
    line-height: 36px;
    background: #fff;
    padding: 10px 15px 10px 15px;
    border-bottom: 1px solid #e0e0e0;
    content: '';
    text-transform: uppercase;
    color: #000000;
    font-size: 18px;
    margin-bottom: 20px;
    padding-left: 25vh;
}
#map {
    height: 90%;
    width: 100%;
    margin: auto;
    padding: 0;
    position: relative;

    overflow: hidden;
}

#contact {
    width: 100%;
    height: 100%;
}
#contact .hr2 {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    --main-color: #f67694;
    --header-footer-text: #ffffff;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 0;
    box-sizing: content-box;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid;
}

#contact .section-header,
#content .section-header {
    text-align: center;
    margin: 0 auto;
    font: 'Open Sans', sans-serif !important;
    color: black;
    font-size: xx-large;
    margin-bottom: 5px;
}

#contact .contact-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    padding: 20px;
    position: relative;
    max-width: 840px;
}

/* Left contact page */
#contact .form-horizontal {
    /*float: left;*/
    max-width: 400px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    --main-color: #f67694;
    --header-footer-text: #ffffff;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: block;
    max-width: 400px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
}

#contact .form-control,
textarea {
    max-width: 800px;
    letter-spacing: 1px;
}
/* css */

#contact #email {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    --main-color: #f67694;
    --header-footer-text: #ffffff;
    box-sizing: border-box;
    margin: 0;
    font: inherit;
    font-family: inherit;
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    max-width: 800px;
    letter-spacing: 1px;
    margin: 20px 0px;
}

#contact #message {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    --main-color: #f67694;
    --header-footer-text: #ffffff;
    box-sizing: border-box;
    margin: 0;
    font: inherit;
    overflow: auto;
    font-family: inherit;
    display: block;
    width: 100%;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    height: auto;
    max-width: 400px;
    min-width: 400px;
    letter-spacing: 1px;
    margin-top: 20px;
}

#contact #name {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    --main-color: #f67694;
    --header-footer-text: #ffffff;
    box-sizing: border-box;
    margin: 0;
    font: inherit;
    font-family: inherit;
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    margin: 20px px;
    font-size: 14px;
    line-height: 1.42857143;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    max-width: 800px;
    letter-spacing: 1px;
}
#submit {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    --main-color: #f67694;
    --header-footer-text: #ffffff;
    box-sizing: border-box;
    margin: 0;
    font: inherit;
    text-transform: none;
    -webkit-appearance: button;
    font-family: inherit;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
    margin-top: 15px;
    height: 34px;
    width: 400px;
    overflow: hidden;
    transition: all 0.2s ease-in-out;
}

#alt-send-button {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    --main-color: #f67694;
    --header-footer-text: #ffffff;
    font: inherit;
    text-transform: none;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    user-select: none;
    color: #fff;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    display: block;
    width: 400px;
    height: 34px;
    transition: all 0.2s ease-in-out;
}
.send-text {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    --main-color: #f67694;
    --header-footer-text: #ffffff;
    text-transform: none;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    user-select: none;
    color: #fff;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: block;
    margin-top: 10px;
    font: 700 12px 'Lato', sans-serif;
    letter-spacing: 2px;
}
/* css */
#contact .send-button {
    margin-top: 15px;
    height: 34px;
    width: 400px;
    overflow: hidden;
    transition: all 0.2s ease-in-out;
}

#contact .alt-send-button {
    width: 400px;
    height: 34px;
    transition: all 0.2s ease-in-out;
}

#contact .send-text {
    display: block;
    margin-top: 10px;
    font: 700 12px 'Lato', sans-serif;
    letter-spacing: 2px;
}

#contact .alt-send-button:hover {
    transform: translate3d(0px, -29px, 0px);
}

/* Begin Right Contact Page */
#contact .direct-contact-container {
    max-width: 400px;
}

/* Location, Phone, Email Section */
#contact .contact-list {
    list-style-type: none;
    padding-right: 20px;
}

#contact .list-item {
    line-height: 4;
    color: black;
}

#contact .contact-text {
    font: 300 18px 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 1.9px;
}

#contact .place {
    margin-left: 62px;
}

#contact .phone {
    margin-left: 56px;
}

#contact .gmail {
    margin-left: 53px;
}

#contact .contact-text a {
    color: #bbb;
    text-decoration: none;
    transition-duration: 0.2s;
}

#contact .contact-text a:hover {
    color: black;
    text-decoration: none;
}

/* Social Media Icons */
#contact .social-media-list {
    position: relative;
    font-size: 22px;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

#contact .social-media-list li a {
    color: black;
}

#contact .social-media-list li {
    position: relative;
    display: inline-block;
    height: 60px;
    width: 60px;
    margin: 10px 3px;
    line-height: 60px;
    border-radius: 50%;
    color: black;
    background-color: rgb(27, 27, 27);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

#contact .social-media-list li:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
    opacity: 0;
    box-shadow: 0 0 0 1px #fff;
    transition: all 0.2s ease-in-out;
}

#contact .social-media-list li:hover {
    background-color: black;
}

#contact .social-media-list li:hover:after {
    opacity: 1;
    transform: scale(1.12);
    transition-timing-function: cubic-bezier(0.37, 0.74, 0.15, 1.65);
}

#contact .social-media-list li:hover a {
    color: #000;
}

#contact .copyright {
    font: 200 14px 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #555;
    letter-spacing: 1px;
    text-align: center;
}

#contact .hr {
    border-color: rgba(255, 255, 255, 0.6);
}

/* Begin Media Queries*/
@media screen and (max-width: 850px) {
    #contact .contact-wrapper {
        display: flex;
        flex-direction: column;
    }
    #contact .direct-contact-container,
    #contact .form-horizontal {
        margin: 0 auto;
    }

    #contact .direct-contact-container {
        margin-top: 60px;
        max-width: 300px;
    }
    #contact .social-media-list li {
        height: 60px;
        width: 60px;
        line-height: 60px;
    }
    #contact .social-media-list li:after {
        width: 60px;
        height: 60px;
        line-height: 60px;
    }
}

@media screen and (max-width: 569px) {
    #contact .direct-contact-container,
    #contact .form-wrapper {
        float: none;
        margin: 0 auto;
    }
    #contact .form-control,
    textarea {
        margin: 0 auto;
    }

    #contact .name,
    #contact .email,
    textarea {
        width: 280px;
    }

    #contact .direct-contact-container {
        margin-top: 60px;
        max-width: 400px;
    }
    #contact .social-media-list {
        left: 0;
    }
    #contact .social-media-list li {
        height: 55px;
        width: 55px;
        line-height: 55px;
        font-size: 2rem;
    }
    #contact .social-media-list li:after {
        width: 55px;
        height: 55px;
        line-height: 55px;
    }
}

@media screen and (max-width: 410px) {
    #contact .send-button {
        width: 99%;
    }
}

/* #contact .col-sm-12 {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    --main-color: #f67694;
    --header-footer-text: #ffffff;
    box-sizing: border-box;
    margin: 0;
    font: inherit;
    font-family: inherit;
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    max-width: 800px;
    background-color: #000;
    color: white;
    letter-spacing: 1px;
} */

/* @media (min-width: 768px) {
    #contact .col-sm-12 {
        width: 100%;
    }
} */
