@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baskervville:ital@1&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-color: #062640;
}


html {
    font-family: 'Source Sans Pro', Arial, sans-serif !important;
    color: #000;
}

/* phan dau */

.wrapper {
    position: fixed;
    background: #fff;
    left: 0px;
    right: 0px;
    top: 0px;
    z-index: 1000;
}

.contains-imgTop {
    background-image: url(../images/hinhTopWebsite.webp);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: #ae0001;
    height: 30px;

}

.wrapper__header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 8px;
    height: 22.5px;
}

.mobile-menu-btn:hover {
    color: rgb(252, 84, 0);
    cursor: pointer;
}

.mobile-menu-btn {
    display: none;
}

.nav>ul>li {
    display: inline-block;
    padding: 2px 8px;

}

.nav>ul>li+li {
    border-left: 1px solid #ccc;
}

.nav>ul>li>a {
    text-decoration: none;
    color: #000;
    text-transform: uppercase;
    font-size: 13px;
}

.nav>ul>li:hover>a {
    color: rgb(249, 9, 9);
}

.nav>ul>li:hover>i {
    color: rgb(249, 9, 9);
}

.header--img {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #eee;
    padding-bottom: 12px;
}

.login_register>a {
    text-decoration: none;
    color: #000;
    text-transform: uppercase;
    font-size: 13px;
}

.register:hover {
    color: rgb(249, 9, 9);
}

.header--img>img {
    /* width: 450px;
     */
    width: 200px;
    /* height: 78px; */
    margin-top: 10px;
}

.search {
    display: flex;
    position: relative;
    margin-right: 18px;
}

.search>i {
    padding: 8px 10px;
    background: #062640;
    color: #fff;
}

.search>i:hover {
    background-color: #ccc;
    color: #d44b0b;
    cursor: pointer;
}

.search>input {
    min-width: 250px;
    padding: 5px 9px;
    border: 2px solid #062640;
}

.basket {
    display: inline-block;
    height: 32px;
    padding: 0px 8px;
    text-align: center;
}

.basket:hover {
    cursor: pointer;
    color: rgb(249, 9, 9);
}

.basket>i {
    font-size: 26px;
}

.search-basket {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 4px 100px;
    border-bottom: 1px solid #ccc;
}

.wrapper__bottom-banner {
    display: flex;
    /* justify-content: space-around; */
    border-bottom: 1px solid #a07f3e;
    border-top: 1px solid #a07f3e;
}

.wrapper__bottom-banner:hover {
    cursor: pointer;
}



/* COntent */



.title {
    background-color: var(--main-color);
    height: 5vw;
    font-size: 3vw;
    text-align: center;
    align-content: center;
    padding-top: 2vw;
}

/* .body{
    font-size: 1.4vw;
    border-color: var(--main-color);
} */

.table {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
    margin: auto;
    margin-top: 10% !important;
}
.cart {
    position: relative;
    margin: auto; 
    text-align: right;
}
.content input {
    text-align: right;
    border-radius: 1vw;
    padding: 0.5vw 1vw;
    text-align: center;
    border-color: var(--main-color) !important;
}

.add_btn {
    background-color: var(--main-color);
    color: white;
    border-color: var(--main-color);
}

td img {
    height: 8vw;
}

.image-fluid {
    max-width: 100%;
    height: auto;
}

table,
td,
tr {
    width: 20vw;
    margin-bottom: 2vw;
    border: var(--main-color) 1px solid !important;
    border: 1px solid pink;  
    border-collapse: collapse;

}

th {
    border: white 1px solid !important;
}

th {
    background-color: var(--main-color);
    border-collapse: collapse;
    color: white;
    font-size: medium;
}

th,
td {
    border: 1px #999 solid;
    padding: 0.5vw 1vw;
    text-align: center;
}

.col-12 {
    color: #212529;
    flex-basis: 100%;
    line-height: 24px;
    padding: 0px 15px;
    text-align: left;
    /* margin-left: 20%;
    margin-right: 20%; */
    margin-top: 5%;
}
.my-2 {
    margin-left: 20%;
    margin-right: 20%;
}
.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}




/* FOOTER */
footer {
    position: relative;
    width: 100%;
    height: auto;
    padding: 30px 100px 20px 100px;
    background: #313131;
    color: #fff;
}

footer .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 0 15px;
}

.contact-footer {
    padding: 0 15px;
}

.contact-footer .marker-first {
    padding-bottom: 25px;
}

.contact-footer i {
    font-size: 24px;
    margin-right: 10px;
    width: 44px;
    height: 44px;
    line-height: 40px;
    text-align: center;
    border: 1px solid #fff;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    color: #fff;
}

footer h4 {
    text-transform: uppercase;
}

.footer-logo {
    margin-bottom: 30px;
}

.support {
    display: flex;
    justify-content: space-between;
    margin: 0 15px 15px 15px;
}

.support li {
    font-size: 15px;
    list-style: none;
    cursor: pointer;
    margin-top: 8px;
}

.support li a {
    color: #fff;
    text-decoration: none;
}

.support li a:hover {
    color: var(--main-color);
}

.support h4 {
    margin-bottom: 20px;
}

.email {
    margin-bottom: 10px;
    padding: 0 15px;
}

.email h4 {
    margin-bottom: 10px;
}

.email p {
    font-size: 13px;
    max-width: 400px;
}

.input-group {
    display: flex;
}

.input-group-field {
    margin-top: 10px;
    border-style: none;
    border-radius: 30px 0px 0px 30px;
    height: 34px;
    line-height: 34px;
    padding: 0px 14px;
    font-weight: 400;
    font-size: 14px;
}

.email .button-btn1 {
    text-transform: uppercase;
    /* position: absolute; */
    border-style: none;
    border-radius: 0px 30px 30px 0px;
    margin-top: 10px;
    background: var(--main-color);
    color: #fff;
    height: 34px;
    line-height: 34px;
    padding: 0px 14px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
}

.email .button-btn1:hover {
    color: #333;
}

.connect-footer {
    padding: 0 15px;
    ;
}

.fanpage {
    margin-bottom: 20px;
}

.icon-footer {
    margin-top: 10px;
    display: flex;
}

.icon-footer a {
    width: 40px;
    height: 40px;
    font-size: 30px;
    background: #fff;
    color: #222;
    text-decoration: none;
    border-radius: 4px;
    margin-right: 20px;
    text-align: center;
    transition: all .1s;
}

.icon-footer a:hover {
    background: var(--main-color);
    color: #fff;
    transform: scale(1.2);
}

/* end footer */




/* RESPONSIVE */
/* PC */
@media (min-width:1024px) {}

/* tablet */
@media (min-width:740px) and (max-width: 1023px) {
    .contains-imgTop {
        height: 30px;
    }

    .nav>ul>li+li {
        border-left: none;
    }

    .nav>ul>li:hover {
        background-color: #ccc;
        border-left: 2px solid rgb(249, 9, 9);
        ;
    }

    .banner img {
        width: 200px;
    }

    .search-basket {
        margin: 0px 16px 0px 0px;
    }

    .list-items-book {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        width: 600px;
        margin: 0px auto;
    }

    .bottom-banner--one {
        padding-right: 26px;
    }

    .bottom-banner--two {
        padding: 0px 10px;
    }

    .bottom-banner--three {
        padding-left: 26px;
    }

    .info-big {
        font-size: 12px;
    }

    .info-small {
        font-size: 11px;
    }

    .info-free {
        font-size: 15px;
    }

    .wrapper__bottom-banner {
        padding-right: 4px;
    }

    .content {
        margin: 48px 0px;
    }

    .content h2 {
        margin-left: 60px;
    }

    .banner2--first>img {
        height: 200px;
    }

    .banner--content {
        transform: translateY(-80%);
    }

    .banner--description {
        padding: 0px 12%;
    }

    .view-all-title {
        flex: 1.2;
    }

    .all-title .view-all-title h2 {
        font-size: 2.06em;
        margin-bottom: 24px;
    }

    .title-list1 {
        flex: 0.9;
    }

    .row-title img {
        width: 26px;
        height: 26px;
        margin-right: 6px;
    }

    .all-title a {
        font-size: 16px;
    }

    .title-list2 {
        flex: 1.3;
        padding-right: 26px;
    }

    .banner--content h2 {
        margin-left: 0px;
        font-size: 2.9em;
    }

    .header--img img {
        width: 120px;
    }

    footer .container {
        flex-direction: column !important;
        flex-wrap: nowrap !important;
    }

    #support {
        margin: 40px 0;
    }

    .support {
        margin: 0 15px 40px 15px;
    }

    .connect-footer {
        display: flex;
    }

    .connect-footer img {
        width: 100px !important;
        height: 100px !important;
        margin-left: 152px;
        margin-top: 0px !important;
    }
}

/* mobile */
@media (max-width: 740px) {
    .nav {
        display: none;
        background-color: rgb(226, 226, 226);
        border-radius: 8px;
        padding: 8px 0px;
        margin-top: 8px;

    }

    .nav>ul>li {
        display: block;
        padding: 8px 12px;

    }

    .nav-btnmenu {
        min-width: 200px;
    }

    .nav>ul>li+li {
        border-left: none;
    }

    .nav>ul>li:hover {
        background-color: #ccc;
        border-left: 2px solid rgb(249, 9, 9);
        ;
    }

    .mobile-menu-btn {
        display: block;
    }

    .banner img {
        width: 120px;
    }

    .search-basket {
        margin: 8px 16px 8px 0px;
        padding: 8px 0px;
    }

    .list-items-book {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .bottom-banner--one {
        padding-right: 26px;
    }

    .bottom-banner--three {
        padding-left: 26px;
    }

    .info-big {
        font-size: 12px;
    }

    .info-small {
        font-size: 11px;
    }

    .info-free {
        font-size: 15px;
    }

    .wrapper__bottom-banner {
        padding-right: 4px;
    }

    .content {
        margin: 48px 0px;
    }

    .content h2 {
        margin-left: 16px;
    }

    .banner2--first>img {
        height: 100px;
    }

    .banner--content {
        transform: translateY(-86%);
    }

    .banner--content h2 {
        font-size: 1.5em;
        margin-bottom: 8px;
        margin-left: 0px;
    }

    .banner--description {
        font-size: 0.5em;
        margin-bottom: 17px;
    }

    .view-all-title {
        flex: 1;
    }

    .all-title .view-all-title h2 {
        font-size: 1.36em;
        margin-bottom: 5px;
    }

    #text-red {
        font-size: 0.1em;
    }

    .view-all-title i {
        font-size: 12px;
    }

    .title-list1 {
        flex: 0.7;
    }

    .row-title img {
        margin-right: 2px;
    }

    .all-title a {
        font-size: 7px;
    }

    .row-title img {
        width: 20px;
        height: 20px;
        margin-right: 4px;
    }

    .header--img img {
        width: 100px;
        margin-top: 10px;
    }

    .contains-imgTop {
        display: none;
    }

    .slogan-icon h2 {
        font-size: 28px !important;
    }

    .search-basket {
        margin: 0px;
    }

    /* footer */
    footer {
        padding: 20px 0px !important;
    }

    .connect-footer img {
        width: 90px !important;
        height: 90px !important;
        margin-left: 36px;
        margin-top: 0px !important;
    }

    footer .container {
        flex-direction: column !important;
        flex-wrap: nowrap !important;
    }

    #support {
        margin: 40px 0;
    }

    .support {
        margin: 0 15px 40px 15px;
    }

    .connect-footer {
        display: flex;
    }

}