/* link chữ */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');


.form-group {
    color: #555555;
}

section#content {
    background-color: #f7f7f7;
    overflow: hidden;
}
#content .section-header{
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 24px;
    line-height: normal;
    color: rgb(78, 76, 76);
    margin-bottom: 20px;
    padding-top: 40px;
}
#content .connect-page{
    margin-bottom: 40px;
}
#content .connect-page li a{
    color: rgb(36, 36, 36);
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 400;
}
#content .connect-page li a:hover{
    color: rgb(239, 100, 14);
}
#content .connect-page li{
    list-style: none;
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 400;
    margin-bottom: 16px;
    color: #333;
}

.content-left{
    max-width: 600px;

}
.content-right{
    margin-top: 50px;
    width: 600px;
    margin-bottom: 20px;
}
#contact-form {
    flex-basis: 58%;
    flex-grow: 0;
    flex-shrink: 0;
}

#contact-form.form-horizontal {
    background: linear-gradient(to right, #e7e7e7, #eeeeee) !important;
    color: #333;
    margin: 10px 0 20px;
    font-size: 14px;
    line-height: normal;
    border-radius: 5px;
}

.form-horizontal>p {
    font-family: 'Montserrat', sans-serif !important;
    padding: 0px 20px;
}
.form-horizontal .tinhan{
    font-family: 'Montserrat', sans-serif !important;
    margin-top: 30px;
    margin-bottom: 10px;
}
.form-horizontal textarea{
    width: 100%;
    border: none;
    border-radius: 5px;
    padding: 6px 12px;
}
.form-horizontal button{
    color: #fff;
    background-color: #000;
    width: 180px;
    height: 41px;
    padding: initial;
    border-radius: 5px;
    border: 1px solid #000;
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 700;
    margin: 20px 0px;
    display: inline-block;
  
}
.can-giua-button{
    text-align: center;
}
.can-giua-button button:hover{
    cursor: pointer;
    background-color: rgb(239, 100, 14);
    border: solid 1px rgb(239, 100, 14);;
}
.title-header {
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 700;
    font-size: 20px;
    color: #333;
    letter-spacing: 0.01em;
    margin: 20px 0px 10px 20px;
    padding-top: 20px;
}

#contact-form .Thongtin label,
input {
    display: block;
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 400;
}

#contact-form .Thongtin input {
    /* width: 100%; */
    min-height: 40px;
    padding: 0.375rem 0.75rem;
    line-height: 1.5;
    border: none;
    border-radius: 5px;
    width: 100%;
}

#contact-form textarea {
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 400;
}
#contact-form form{
    padding: 0px 20px;
}
.Thongtin {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.hoten,.email-lienhe{
    min-width: 260px;
}


