* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --main-color: #f67694;
}
@import url('https://fonts.googleapis.com/css2?family=Baskervville:ital@1&display=swap');
html {
    font-family: 'Source Sans Pro', Arial, sans-serif !important;
    color: #000;
}
.home {
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.home .header {
    display: flex;
    width: 100vw;
    height: 85px;
    padding: 10px 0px 5px;
}
.home .header .logo {
    display: flex;
    height: 70px;
    padding-right: 15px;
    padding-left: 15px;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}
/* start */
.home .header .search_box {
    display: flex;

    padding-right: 15px;
    padding-left: 15px;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.home .header .search {
    width: 100%;
    display: flex;
}

.home .header .searchTerm {
    width: 100%;
    min-width: 200px;
    max-width: 400px;
    border: 3px solid #c83548;
    border-right: none;
    height: 32px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #c83548;
}

.home .header .searchTerm:focus {
    color: #c83548;
}

.home .header .searchButton {
    width: 40px;
    height: 32px;
    border: 1px solid #c83548;
    background: #c83548;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;

    justify-content: center;
    align-items: center;
}

.home .header .end {
    display: flex;
    padding-right: 15px;
    padding-left: 15px;
    height: 70px;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    text-align: center;
    justify-content: center;
}
.home .header .login_div_icon {
    width: 40px;
    height: 40px;
    color: #c83548;
    position: relative;
    border: 1px solid #b1154a;
    border-radius: 50%;
}
.home .header .login_icon {
    position: absolute;
    width: 100px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.home .header .login_div_text {
    display: flex;
    justify-content: center;
    align-items: center;
}
.home .header .cart_div_icon {
    width: 40px;
    height: 40px;
    margin-left: 15px;
    color: #c83548;
    position: relative;
    border: 1px solid #b1154a;
    border-radius: 50%;
}
.home .header .cart_icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.home .header .cart_div_text {
    display: flex;
    justify-content: center;
    align-items: center;
}
/* end */

.home .topnav {
    display: flex;
    background-color: #c83548;

    height: 80px;
    justify-content: center;
    align-items: center;
}

.home .topnav a {
    display: flex;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    color: white;
}

.home .topnav a:hover {
    background-color: #c83548;
    color: yellow;
}

.home .topnav a.active {
    background-color: red;
    color: white;
}

.home .topnav input[type='text'] {
    float: right;
    padding: 6px;
    margin-top: 8px;
    margin-right: 16px;
    border: none;
    font-size: 17px;
}

//start drop

.topnav .icon {
    display: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 17px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.topnav a:hover,
.dropdown:hover .dropbtn {
    background-color: #555;
    color: white;
}

.dropdown-content a:hover {
    background-color: #ddd;
    color: black;
}

.dropdown:hover .dropdown-content {
    display: block;
}
//end drop

@media screen and (max-width: 600px) {
    .topnav a:not(:first-child),
    .dropdown .dropbtn {
        display: none;
    }
    .topnav a.icon {
        float: right;
        display: block;
    }
}
@media screen and (max-width: 750px) {
    .topnav.responsive {
        position: relative;
    }
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
    .topnav.responsive .dropdown {
        float: none;
    }
    .topnav.responsive .dropdown-content {
        position: relative;
    }
    .topnav.responsive .dropdown .dropbtn {
        display: block;
        width: 100%;
        text-align: left;
    }
}
/* Tag*/
.home .tag {
    width: 100vw;
    height: 250px;
    display: flex;
    justify-content: center;
}
.home .tag div {
    padding: 10px 30px;
    margin: 25px 25px 25px 25px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    justify-items: center;
    flex-direction: column;
    width: 300px;
    color: white;
}
.home h2 {
    text-align: center;
}
#tag1 {
    background: rgba(73, 186, 207, 0.85);
}
#tag2 {
    background: rgba(147, 100, 141, 0.85);
    margin-right: 50px;
    margin-left: 50px;
}
#tag3 {
    background: rgba(241, 103, 69, 0.85);
}
i::before {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

/* end  */

/* css cho content */
.content {
    display: flex;
    width: 100vw;
    height: 100%;
    justify-content: center;
    justify-items: center;
}
.item {
    display: flex;
    flex-direction: column;
}
.image {
    width: 170px;
    max-width: 170px;
    height: 240px;
    overflow: hidden;
}
//example
.example .container {
    margin: 0 auto;
    max-width: 910px;
}

.example .fa {
    margin-right: 20px;
    font-size: 30px;
    color: gray;
    float: right;
}
/******************************************
Book stuff
*******************************************/

.example .book {
    display: inline-block;
    width: 220px;
    height: 440px;
    box-shadow: 0 0 20px #aaa;
    margin: 20px;
    padding: 10px 10px 0 10px;
    vertical-align: top;
    transition: height 1s;
}
/* star button */

.example .cover {
    border: 2px solid gray;
    height: 300px;
    overflow: hidden;
}

.example .cover img {
    width: 100%;
}

.example .book p {
    margin-top: 2px;
    font-size: 20px;
}

.example .book .author {
    font-size: 15px;
}
@media (max-width: 941px) {
    .example .container {
        max-width: 700px;
    }
    .example .book {
        margin: 49px;
    }
}
@media (max-width: 730px) {
    .example .book {
        display: block;
        margin: 0 auto;
        margin-top: 50px;
    }
}

/*********************************
other
**********************************/

.example h1 {
    color: gray;
    text-align: center;
    font-size: 50px;
    margin-bottom: -3px;
}
.example .description {
    display: block;
    display: -webkit-box;
    height: 40px;
    font-size: 16px;
    line-height: 1.3;
    -webkit-line-clamp: 2; /* số dòng hiển thị */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 10px;
}
.example .title_price {
    text-align: center;
    margin: 10px;
}
.example .price {
    font-size: 13px;
    font-weight: 700;
    line-height: 17px;
    margin: 0 3px;
    color: #c83548;
}
.example .del {
    font-size: 13px;
    font-weight: 700;
    line-height: 17px;
    margin: 0 3px;
    text-decoration: line-through;
}
.example .price::after {
    text-decoration: underline;
    content: 'đ';
}
.example .del::after {
    text-decoration: underline;
    content: 'đ';
}
.example .add_to_cart {
    display: inline-block;
    border: 2px solid #d7d7d7;
    padding: 0 23px;
    margin: 5px;
    text-transform: uppercase;
    text-shadow: none;
    line-height: 30px;
    color: #b0b0b0;
    font-size: 12px;
    font-weight: 900;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.example .add_to_cart:hover {
    color: #f3652a;
    border-color: #f3652a;
}

/***********************************
star animation
***********************************/
/***********************************
zoom on click
***********************************/
/* end content */

/* footer */

footer {
    position: relative;
    width: 100%;
    height: auto;
    padding: 30px 100px 20px 100px;
    background: #313131;
    color: #fff;
}

footer .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 0 15px;
}

.contact-footer {
    padding: 0 15px;
}

.contact-footer .marker-first {
    padding-bottom: 25px;
}

.contact-footer i {
    font-size: 24px;
    margin-right: 10px;
    width: 44px;
    height: 44px;
    line-height: 40px;
    text-align: center;
    border: 1px solid #fff;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    color: #fff;
}

footer h4 {
    text-transform: uppercase;
}

.footer-logo {
    margin-bottom: 30px;
}

.support {
    display: flex;
    justify-content: space-between;
    margin: 0 15px 15px 15px;
}

.support li {
    font-size: 15px;
    list-style: none;
    cursor: pointer;
    margin-top: 8px;
}

.support li a {
    color: #fff;
    text-decoration: none;
}

.support li a:hover {
    color: var(--main-color);
}

.support h4 {
    margin-bottom: 20px;
}

.email {
    margin-bottom: 10px;
    padding: 0 15px;
}

.email h4 {
    margin-bottom: 10px;
}

.email p {
    font-size: 13px;
    max-width: 400px;
}

.input-group {
    display: flex;
}

.input-group-field {
    margin-top: 10px;
    border-style: none;
    border-radius: 30px 0px 0px 30px;
    height: 34px;
    line-height: 34px;
    padding: 0px 14px;
    font-weight: 400;
    font-size: 14px;
}

.email .button-btn1 {
    text-transform: uppercase;
    /* position: absolute; */
    border-style: none;
    border-radius: 0px 30px 30px 0px;
    margin-top: 10px;
    background: var(--main-color);
    color: #fff;
    height: 34px;
    line-height: 34px;
    padding: 0px 14px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
}

.email .button-btn1:hover {
    color: #333;
}

.connect-footer {
    padding: 0 15px;
}

.fanpage {
    margin-bottom: 20px;
}

.icon-footer {
    margin-top: 10px;
    display: flex;
}

.icon-footer a {
    width: 40px;
    height: 40px;
    font-size: 30px;
    background: #fff;
    color: #222;
    text-decoration: none;
    border-radius: 4px;
    margin-right: 20px;
    text-align: center;
    transition: all 0.1s;
}

.icon-footer a:hover {
    background: var(--main-color);
    color: #fff;
    transform: scale(1.2);
}
/* end footer */
